form {
    .example-full-width {
        width: 100%;
        padding: 20px;
    }
    .mat-form-field {
        padding-top: 2rem;
    }
    .mat-radio-button {
        padding: 0px;
        display: flex;
        flex-direction: row;
    }
    .radio-group {
        .radio-group-item {
            margin-right: 2rem;
            padding: 2rem;
        }
        display: flex;
        flex-direction: row;
    }
    .radio-group-item .example-radio-group {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
    }
    .example-radio-button {
        margin: 5px;
    }
    label {
        margin-left: 0.6rem;
    }
    .general-data-form {
        padding: 2rem;
    }
    .mat-grid-tile .mat-figure {
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
    }
    hr {
        background: #3f51b5;
        margin: 1rem;
    }
}

.add-patient-button {
    margin-left: 2%;
}