<form class="general-data-form" *ngIf="!replecment">

    <div class="radio-group">
        <div class="radio-group-item">
            <label>Чи отримує пацієнт на сьогоднішний день замісну імуноглобулінотерапію?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="RITTillToday" name="RITTillToday">
                <mat-radio-button class="example-radio-button" *ngFor="let RITTillToday  of RITTillTodays" [value]="RITTillToday" color="primary">
                    {{RITTillToday}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- <div>Your sex is: {{sex}}</div> -->
        <div class="radio-group" *ngIf="RITTillToday == 'Так' ||RITTillToday == 'Нерегулярно' ">
            <div class="radio-group-item">
                <label>Кінцева дата введення замісної імуноглобулінотерапії:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="EndImunoglobulinInjectionDate" name="EndImunoglobulinInjectionDate">
                    <mat-radio-button class="example-radio-button" *ngFor="let EndImunoglobulinInjectionDate of EndImunoglobulinInjectionDates" [value]="EndImunoglobulinInjectionDate" color="primary">
                        {{EndImunoglobulinInjectionDate}}
                    </mat-radio-button>
                    <mat-form-field *ngIf="EndImunoglobulinInjectionDate == 'Відомо'" class="example-full-width">
                        <input matInput placeholder="Введіть дату">
                    </mat-form-field>
                </mat-radio-group>
            </div>

            <div class="radio-group-item">
                <label>Виробник імуноглобулінів, які отримує пацієнт:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="ProducerYesNo" name="ProducerYesNo">
                    <mat-radio-button class="example-radio-button" *ngFor="let ProducerYesNo of ProducerYesNos" [value]="ProducerYesNo" color="primary">
                        {{ProducerYesNo}}
                    </mat-radio-button>
                    <mat-form-field *ngIf="ProducerYesNo == 'Відомо'" class="example-full-width">
                        <input matInput placeholder="Введіть дату" name="ProducerName">
                    </mat-form-field>
                </mat-radio-group>
            </div>

        </div>
        <!-- <div>Your sex is: {{sex}}</div> -->
    </div>

    <div class="radio-group" *ngIf="RITTillToday=='Так' ||RITTillToday=='Нерегулярно'">
        <div class="radio-group-item ">
            <label>Актуальний шлях введення імуноглобуліну:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="ActualInjectionType" name="ActualInjectionType">
                <mat-radio-button class="example-radio-button" *ngFor="let ActualInjectionType of ActualInjectionTypes" [value]="ActualInjectionType " color="primary">
                    {{ActualInjectionType}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="radio-group-item">
            <label>Актуальне місце введення імуноглобуліну:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="ActualInjectionLocation" name="ActualInjectionLocation">
                <mat-radio-button class="example-radio-button" *ngFor="let ActualInjectionLocation of ActualInjectionLocations" [value]="ActualInjectionLocation " color="primary">
                    {{ActualInjectionLocation}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="radio-group-item">
            <label>Доза:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="Dose" name="Dose">
                <mat-radio-button class="example-radio-button" *ngFor="let Dose of Doses" [value]="Dose" color="primary">
                    {{Dose}}
                </mat-radio-button>
                <mat-form-field *ngIf="Dose == 'Відомо'" class="example-full-width">
                    <input matInput placeholder="Введіть дату" name="DoseYes">
                </mat-form-field>
            </mat-radio-group>
        </div>

        <div class="radio-group-item">
            <label>Рівень імуноглобулінів,перед введеням замісної імуноглобулінотерапії:</label>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Доза мг/кг ваги" name="Igg">
            </mat-form-field>
        </div>
    </div>


    <div class="radio-group" *ngIf="RITTillToday=='Так' ||RITTillToday=='Нерегулярно'">
        <div class="radio-group-item ">
            <label>Інтервал між введенями:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="InjectionInterval" name="InjectionInterval">
                <mat-radio-button class="example-radio-button" *ngFor="let InjectionInterval of InjectionIntervals" [value]="InjectionInterval" color="primary">
                    {{InjectionInterval}}
                </mat-radio-button>
                <mat-form-field *ngIf="InjectionInterval == 'Інше'" class="example-full-width">
                    <input matInput placeholder="Введіть інший інтервал" name="injection_interval_other">
                </mat-form-field>
            </mat-radio-group>
        </div>

        <div class="radio-group-item">
            <label>Актуальна вага:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="PatientWeight" name="PatientWeight">
                <mat-radio-button class="example-radio-button" *ngFor="let PatientWeight of PatientWeights" [value]="PatientWeight" color="primary">
                    {{PatientWeight}}
                </mat-radio-button>
                <mat-form-field *ngIf="PatientWeight == 'Відомо'" class="example-full-width">
                    <input matInput placeholder="Введіть вагу" name="PatientWeightYes">
                </mat-form-field>
            </mat-radio-group>
        </div>

        <div class="radio-group-item">
            <label>Зафіксовані небажені явища:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="RecordedPhenomena" name="RecordedPhenomena">
                <mat-radio-button class="example-radio-button" *ngFor="let RecordedPhenomena of RecordedPhenomenas" [value]="RecordedPhenomena" color="primary">
                    {{RecordedPhenomena}}
                </mat-radio-button>
                <mat-form-field *ngIf="RecordedPhenomena == 'Так'" class="example-full-width">
                    <input matInput placeholder="Введіть симтоми" name="PatientWeightYes">
                </mat-form-field>
            </mat-radio-group>
        </div>

    </div>
</form>





<form class="general-data-form" *ngIf="replecment">

    <div *ngFor="let data of replecment.rITDetails">
        <mat-grid-list cols="3" rowHeight="5:1">
            <div class="radio-group">
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Чи отримує пацієнт на сьогоднішний день замісну імуноглобулінотерапію" [value]="data.ritTillToday">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Кінцева дата введення замісної імуноглобулінотерапії" [value]="data.endImunoglobulinInjectionDate">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Виробник імуноглобулінів, які отримує пацієнт" [value]="data.producerName">
                    </mat-form-field>
                </mat-grid-tile>
            </div>
        </mat-grid-list>



        <mat-grid-list cols="3" rowHeight="5:1">
            <div class="radio-group">
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Актуальний шлях введення імуноглобуліну" [value]="data.actualInjectionType">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Актуальне місце введення імуноглобуліну:" [value]="data.actualInjectionLocation">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Доза" [value]="data.dose">
                    </mat-form-field>
                </mat-grid-tile>
            </div>
        </mat-grid-list>



        <mat-grid-list cols="3" rowHeight="5:1">
            <div class="radio-group">
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Рівень імуноглобулінів,перед введеням замісної імуноглобулінотерапії:" [value]="data.igg_rit">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Інтервал між введенями" [value]="data.injectionInterval">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Актуальна вага:" [value]="data.patientWeight">
                    </mat-form-field>
                </mat-grid-tile>

            </div>
        </mat-grid-list>


        <mat-grid-list cols="3" rowHeight="5:1">
            <div class="radio-group">
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Зафіксовані небажені явища:" [value]="data.recordedPhenomena">
                    </mat-form-field>
                </mat-grid-tile>

            </div>
        </mat-grid-list>




    </div>


</form>