<mat-toolbar color="primary" class="navbar">
    <div>Реєстр ПІД з порушеннями антитілоутворень</div>
    <div *ngIf="isLogIn()">
        <button mat-button [matMenuTriggerFor]="menu">Усі пацієнти</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/patients']">Підтверджені пацієнти</button>
            <button mat-menu-item [routerLink]="['/patients/unaccepted']">Непідтверджені пацієнти</button>
        </mat-menu>
        <a [routerLink]="['/patients/add']"> Добавити нового пацієнта </a>
        <a (click)="logout()" routerLink="/login"> Вийти </a>
    </div>
</mat-toolbar>