<!DOCTYPE html>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фільтр">
</mat-form-field>

<div class="patient-table">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="data">

            <ng-container matColumnDef="select" *ngIf="CountryExpert">
                <th mat-header-cell *matHeaderCellDef> Підтвердити пацієнта </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="openConfirmationDialog(element.dpidId)" mat-icon-button>
                        <mat-icon class="assignment">check_circle</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="esid">
                <th mat-header-cell *matHeaderCellDef> Номер реєстрації </th>
                <td mat-cell *matCellDef="let element"> {{element.esid}} </td>
            </ng-container>

            <ng-container matColumnDef="getAge">
                <th mat-header-cell *matHeaderCellDef class="patient-age"> Вік </th>
                <td mat-cell *matCellDef="let element"> {{element.getAge}} </td>
            </ng-container>

            <ng-container matColumnDef="firstDiagnosisPidDate">
                <th mat-header-cell *matHeaderCellDef>Дата встановлення діагнозу</th>
                <td mat-cell *matCellDef="let element"> {{element.firstDiagnosisPidDate}} </td>
            </ng-container>

            <ng-container matColumnDef="endImunoglobulinInjectionDate">
                <th mat-header-cell *matHeaderCellDef>Остання дата введення імуноглобуліну</th>
                <td mat-cell *matCellDef="let element"> {{element.endImunoglobulinInjectionDate}} </td>
            </ng-container>

            <ng-container matColumnDef="actualInjectionType">
                <th mat-header-cell *matHeaderCellDef>Актуальний шлях введення імуноглобуліну</th>
                <td mat-cell *matCellDef="let element"> {{element.actualInjectionType}} </td>
            </ng-container>

            <ng-container matColumnDef="dose">
                <th mat-header-cell *matHeaderCellDef>Доза(мг/кг)</th>
                <td mat-cell *matCellDef="let element"> {{element.dose}} </td>
            </ng-container>

            <ng-container matColumnDef="produserName">
                <th mat-header-cell *matHeaderCellDef>Виробник</th>
                <td mat-cell *matCellDef="let element"> {{element.produserName}} </td>
            </ng-container>

            <ng-container matColumnDef="review">
                <th mat-header-cell *matHeaderCellDef>Переглянути</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/patients/', element.id]">
                        <mat-icon class="assignment">assignment</mat-icon>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="writeNotes">
                <th mat-header-cell *matHeaderCellDef>Залишити коментар</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/unaccepted/', element.id]">
                        <mat-icon class="create">create</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons></mat-paginator>

    </div>
</div>