// form {
//     .way-to-diagnose-form {
//         padding: 2rem;
//     }
//     .example-full-width {
//         width: 100%;
//         padding: 20px;
//     }
//     .mat-form-field {
//         padding: 0rem;
//     }
//     .mat-radio-button {
//         padding: 0px;
//         display: flex;
//         flex-direction: row;
//     }
//     .radio-group {
//         .radio-group-item {
//             margin-right: 2rem;
//             padding: 2rem;
//         }
//         display: flex;
//         flex-direction: row;
//     }
//     .radio-group-item .example-radio-group {
//         display: flex;
//         flex-direction: column;
//         margin-left: 0.5rem;
//     }
//     .example-radio-button {
//         margin: 5px;
//     }
//     label {
//         margin-left: 0.6rem;
//     }
//     .general-data-form {
//         padding: 2rem;
//     }
//     .mat-grid-tile .mat-figure {
//         justify-content: flex-start;
//         display: flex;
//         align-items: flex-start;
//     }
//     .checkbox-group-item-igg,
//     .checkbox-group-item {
//         display: flex;
//         flex-direction: column;
//         padding-left: 1rem;
//         padding-right: 4rem;
//     }
//     .mat-checkbox {
//         margin: 5px;
//     }
// }
// .mat-icon {
//     cursor: pointer;
//     transition: 0.4s ease-in-out;
// }
// .mat-icon:hover {
//     transform: scale(1.45)
// }
form {
    .example-full-width {
        width: 100%;
        padding: 20px;
    }
    .mat-form-field {
        padding-top: 2rem;
    }
    .mat-radio-button {
        padding: 0px;
        display: flex;
        flex-direction: row;
    }
    .radio-group {
        .radio-group-item {
            margin-right: 2rem;
            padding: 2rem;
        }
        display: flex;
        flex-direction: row;
    }
    .radio-group-item .example-radio-group {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
    }
    .example-radio-button {
        margin: 5px;
    }
    label {
        margin-left: 0.6rem;
    }
    .general-data-form {
        padding: 2rem;
    }
    .mat-grid-tile .mat-figure {
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
    }
    .item-group {
        display: flex;
        flex-direction: column;
    }
    .checkbox-group-item {
        display: flex;
        flex-direction: column;
    }
}

 ::ng-deep .mat-form-field {
    .mat-input-element {
        padding-top: 0rem;
    }
}

.checkbox-group-item-igg,
.checkbox-group-item {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 4rem;
}

.mat-icon {
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.mat-icon:hover {
    transform: scale(1.45)
}