<form class="general-data-form">

    <div class="radio-group">
        <div class="radio-group-item">
            <label>Чи була трасплатнація стовбурових клітин?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="stemCellsTransplantation" name="stemCellsTransplantation">
                <mat-radio-button class="example-radio-button" *ngFor="let stemCellsTransplantation  of stemCellsTransplantations" [value]="stemCellsTransplantation" color="primary">
                    {{stemCellsTransplantation}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- <div>Your sex is: {{sex}}</div> -->
        <div class="radio-group" *ngIf="stemCellsTransplantation == 'Так'">
            <div class="radio-group-item">
                <label>Дата трансплантації:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="transplantationDate" name="transplantationDate">
                    <mat-radio-button class="example-radio-button" *ngFor="let transplantationDate of transplantationDates" [value]="transplantationDate" color="primary">
                        {{transplantationDate}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="radio-group-item">
                <label>Джерело CD34 стовбурових  клітин:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="CB14_soure" name="CB14_soure">
                    <mat-radio-button class="example-radio-button" *ngFor="let CB14_soure of CB14_soures" [value]="CB14_soure" color="primary">
                        {{CB14_soure}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="radio-group-item">
                <label>Генна терапія:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="geneticTherapy" name="geneticTherapy">
                    <mat-radio-button class="example-radio-button" *ngFor="let geneticTherapy of geneticTherapys" [value]="geneticTherapy" color="primary">
                        {{geneticTherapy}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <!-- <div>Your sex is: {{sex}}</div> -->
    </div>

</form>