<form class="general-data-form" *ngIf="!pidDiagnose">

    <div class="radio-group">
        <div class="radio-group-item">
            <label>Уражені гени:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="pid_diagnosis_data.DamagedGenes" name="damagedGenes">
                <mat-radio-button class="example-radio-button" *ngFor="let damagedGenes of damagedGeness" [value]="damagedGenes" color="primary">
                    {{damagedGenes}}
                </mat-radio-button>
                <mat-form-field *ngIf="pid_diagnosis_data.DamagedGenes == 'Генетичне дослідження проводилось,мутації не виявлено'" class="example-full-width">
                    <input matInput placeholder="Введіть дані" [(ngModel)]="pid_diagnosis_data.GenesInfo" name="mutations_no">
                </mat-form-field>
                <mat-form-field *ngIf="pid_diagnosis_data.DamagedGenes == 'Генетичне дослідження проводилось,мутації виявлено'" class="example-full-width">
                    <input matInput placeholder="Введіть дані" [(ngModel)]="pid_diagnosis_data.GenesInfo" name="mutations_yes">
                </mat-form-field>
            </mat-radio-group>
        </div>

        <div class="radio-group-item">
            <label>Дата генетичного дослідження:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="pid_diagnosis_data.GeneticResearchDate" name="geneticResearchDate">
                <mat-radio-button class="example-radio-button" [value]="null" color="primary">
                    {{geneticResearchDates}}
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" color="primary" [value]="pid_diagnosis_data.GeneticResearchDate || ''">
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="myDatePicker" placeholder="Введіть дату" [(ngModel)]="pid_diagnosis_data.GeneticResearchDate" [formControl]="serializedDate" name="genetic_research_data_input">
                        <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #myDatePicker></mat-datepicker>
                    </mat-form-field>
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="radio-group-item">
            <label>Метод секвенування:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="pid_diagnosis_data.SequenticMethod" name="sequencingMethod">
                <mat-radio-button class="example-radio-button" *ngFor="let sequencingMethod of sequencingMethods" [value]="sequencingMethod" color="primary">
                    {{sequencingMethod}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="radio-group-item">
            <label>Причина генетичного дослідження:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="pid_diagnosis_data.GeneticResearchReason" name="geneticResearchReason">
                <mat-radio-button class="example-radio-button" *ngFor="let geneticResearchReason of geneticResearchReasons" [value]="geneticResearchReason" color="primary">
                    {{geneticResearchReason}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="radio-group">
        <div class="radio-group-item">
            <mat-form-field class="selector">
                <mat-label>Лабораторія,яка проводила генетичні дослідження</mat-label>
                <mat-select name="laboratory.id" [(ngModel)]="pid_diagnosis_data.LaboratoryId">
                    <mat-option *ngFor="let laboratory of laboratories" [value]="laboratory.id">
                        {{laboratory.laboratoryName}}
                    </mat-option>
                </mat-select>
                <!-- <mat-form-field *ngIf="laboratoryName.viewValue == 'Інше,вказати'" class="example-full-width">
                  <input matInput placeholder="Введіть лабораторію" name="research_lab_enter">
              </mat-form-field> -->
            </mat-form-field>
        </div>
    </div>
</form>


<form class="general-data-form" *ngIf="pidDiagnose && edit == false">

    <div *ngFor="let pidDiagnose of pidDiagnose.pidDiagnosis">
        <mat-grid-list cols="3" rowHeight="4:1">
            <div class="radio-group">
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Уражені гени" name="mutations_no" [value]='pidDiagnose.damagedGenes' appearance="outline" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile *ngIf="pidDiagnose.genesInfo">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Додаткова інформація про уражені гени" name="mutations_no" [value]='pidDiagnose.genesInfo' readonly="true" appearance="outline">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Дата генетичного дослідження:" name="mutations_no" [value]='pidDiagnose.geneticResearchDate' readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

            </div>
        </mat-grid-list>
        <mat-grid-list cols="3" rowHeight="4:0.5">
            <div class="radio-group">
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Метод секвенування:" name="mutations_no" [value]='pidDiagnose.sequencingMethod' readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Лабораторія,яка проводила генетичні дослідження:" name="mutations_no" [value]='pidDiagnose.laboratoryName' readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Причина генетичного дослідження:" name="mutations_no" [value]='pidDiagnose.geneticResearchReason' readonly="true">
                    </mat-form-field>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
    <div class="button">
        <button mat-raised-button color="primary" (click)="activateEdit()">Редагувати дані</button>
    </div>
</form>