<mat-card>
    <mat-card-title>Вхід</mat-card-title>
    <mat-card-content>
        <form class="form-wrapper" [formGroup]="form">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Ім'я користувача" formControlName="username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Пароль" formControlName="password">
                </mat-form-field>
            </p>

            <p *ngIf="show">
                <mat-form-field>
                    <input type="text" matInput placeholder="Код авторизації" formControlName="code">
                </mat-form-field>
            </p>

            <div class="button">
                <button *ngIf="!show" (click)="submit()" [disabled]="disabled" mat-stroked-button>Отримати код</button>
                <button *ngIf="show" (click)="login()" [disabled]="disabled" mat-stroked-button>Увійти</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>