<form class="general-data-form">

    <mat-grid-list cols="4" rowHeight="4:1">
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Прізвище">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Ім'я">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Побатькові">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Дата народження">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="radio-group-item">
        <label>Стать:</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="sex" name="sex">
            <mat-radio-button class="example-radio-button" *ngFor="let sex of sexs" [value]="sex" color="primary">
                {{sex}}
            </mat-radio-button>
        </mat-radio-group>
        <div>Your sex is: {{sex}}</div>
    </div>

    <mat-grid-list cols="3" rowHeight="4:1">
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Місто народження">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Місто проживання">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="radio-group">
        <div class="radio-group-item">
            <label>Згода пацієнта на використання особистої інформації:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="radiosAgreement" name="radiosAgreement">
                <mat-radio-button class="example-radio-button" *ngFor="let radiosAgreement  of radiosAgreements" [value]="radiosAgreement" color="primary">
                    {{radiosAgreement}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- <div>Your sex is: {{sex}}</div> -->

        <div class="radio-group-item">
            <label>Генетично ускладнений сімейний анамнез ПІД:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="familyTiesPid" name="familyTiesPid">
                <mat-radio-button class="example-radio-button" *ngFor="let familyTiesPid of familyTiesPids" [value]="familyTiesPid" color="primary">
                    {{familyTiesPid}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- <div>Your sex is: {{sex}}</div> -->

        <div class="radio-group-item">
            <label>Генетично ускладнений сімейний анамнез ПІД:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="familyTiesPid" name="familyTiesPid">
                <mat-radio-button class="example-radio-button" *ngFor="let familyTiesPid of familyTiesPids" [value]="familyTiesPid" color="primary">
                    {{familyTiesPid}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

</form>