<form class="example-form">

    <mat-grid-list cols="4" rowHeight="4:1">
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Прізвище">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Ім'я">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Побатькові">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Дата народження">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="4:1">
        <mat-grid-tile>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="Жіноча">Жіноча</mat-radio-button>
                <mat-radio-button value="Чоловіча">Чоловіча</mat-radio-button>
            </mat-radio-group>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Ім'я">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Побатькові">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Дата народження">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

</form>