<form #StemCellsTransplantation="ngForm" class="general-data-form" *ngIf="!stemcells || dispaly === true">

    <div class="radio-group">
        <div class="radio-group-item" *ngIf="!stemcells && dispaly == false">
            <label>Чи була трасплатнація стовбурових клітин?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="stem_cells_transplantation.StemCellsTransplantation" name="stemCellsTransplantation">
                <mat-radio-button class="example-radio-button" *ngFor="let stemCellsTransplantation  of stemCellsTransplantations" [value]="stemCellsTransplantation" color="primary">
                    {{stemCellsTransplantation}}
                </mat-radio-button>
                <mat-form-field *ngIf="stem_cells_transplantation.StemCellsTransplantation == 'Так'" class="example-full-width">
                    <input matInput placeholder="Введіть дані" [(ngModel)]="stem_cells_transplantation.StemCellsTransplantationYes" name="StemCellsTransplantationYes">
                </mat-form-field>
            </mat-radio-group>
        </div>
        <div class="radio-group" *ngIf="stem_cells_transplantation.StemCellsTransplantation == 'Так'|| dispaly == true">
            <div class="radio-group-item">
                <label>Дата трансплантації:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="stem_cells_transplantation.TransplantationDate" name="transplantationDate">
                    <mat-radio-button class="example-radio-button" color="primary">
                        Невідомо
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" color="primary" [value]="stem_cells_transplantation.TransplantationDate || ''">
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="myDatePicker" placeholder="Введіть дату" [(ngModel)]="stem_cells_transplantation.TransplantationDate" name="transplantation">
                            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #myDatePicker></mat-datepicker>
                        </mat-form-field>
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="radio-group-item">
                <label>Джерело CD34 стовбурових  клітин:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="stem_cells_transplantation.cB34Source" name="CB14_soure">
                    <mat-radio-button class="example-radio-button" *ngFor="let CB14_soure of CB14_soures" [value]="CB14_soure" color="primary">
                        {{CB14_soure}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="radio-group-item">
                <label>Генна терапія:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="stem_cells_transplantation.GeneticTherapy" name="geneticTherapy">
                    <mat-radio-button class="example-radio-button" value="Ні" color="primary" (click)="stem_cells_transplantation.SeneticTherapyDate = null">
                        Ні
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Невідомо" color="primary" (click)="stem_cells_transplantation.SeneticTherapyDate = null">
                        Невідомо
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" [value]="stem_cells_transplantation.SeneticTherapyDate" color="primary">
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="myDatePicker1" placeholder="Введіть дату" [(ngModel)]="stem_cells_transplantation.SeneticTherapyDate" name="SeneticTherapyDate">
                            <mat-datepicker-toggle [for]="myDatePicker1" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #myDatePicker1></mat-datepicker>
                        </mat-form-field>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="button">
        <button mat-raised-button color="primary" *ngIf="dispaly === true" (click)="saveNewNote(); StemCellsTransplantation.reset()">Зберегти</button>
    </div>
</form>

<!-- START VIEW DATA -->
<form class="general-data-form" *ngIf="stemcells && dispaly === false && edit === false">
    <div *ngFor="let sCGTDetails of stemcells.sCGTDetails">
        <mat-grid-list cols="4" rowHeight="5:1">
            <div class="radio-group">
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Трасплатнація стовбурових клітин" [value]="sCGTDetails.stemCellsTransplantation" readonly="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" *ngIf="stemCellsTransplantationYes">
                        <input matInput placeholder="Додаткова інформація трасплатнація стовбурових клітин" [value]="sCGTDetails.stemCellsTransplantationYes" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Дата трансплантації" [value]="sCGTDetails.transplantationDate" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Джерело CD34 стовбурових  клітин:" [value]="sCGTDetails.cB34Source" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Генна терапія:" [value]="sCGTDetails.seneticTherapyDate" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
        <hr>
    </div>
    <div class="button">
        <button mat-raised-button color="primary" (click)="addNewNote()" *ngIf="Doctor">Додати новий запис</button>
        <button mat-raised-button color="primary" (click)="activateEdit()" *ngIf="Doctor">Редагувати дані</button>
    </div>
</form>
<!-- END VIEW DATA -->

<!-- START EDIT DATA -->
<form class="general-data-form" *ngIf="stemcells && edit === true">

    <div class="radio-group">
        <div class="radio-group-item">
            <label>Чи була трасплатнація стовбурових клітин?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="stemcells.sCGTDetails[indexEdit].stemCellsTransplantation" name="stemCellsTransplantation">
                <mat-radio-button class="example-radio-button" *ngFor="let stemCellsTransplantation  of stemCellsTransplantations" [value]="stemCellsTransplantation" color="primary">
                    {{stemCellsTransplantation}}
                </mat-radio-button>
                <mat-form-field *ngIf="stemcells.sCGTDetails[indexEdit].stemCellsTransplantation == 'Так'" class="example-full-width">
                    <input matInput placeholder="Введіть дані" [(ngModel)]="stemcells.sCGTDetails[0].stemCellsTransplantationYes" name="StemCellsTransplantationYes">
                </mat-form-field>
            </mat-radio-group>
        </div>
        <div class="radio-group" *ngIf="stemcells.sCGTDetails[indexEdit].stemCellsTransplantation == 'Так'|| dispaly == true">
            <div class="radio-group-item">
                <label>Дата трансплантації:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="stemcells.sCGTDetails[indexEdit].transplantationDate" name="transplantationDate">
                    <mat-radio-button class="example-radio-button" color="primary">
                        Невідомо
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" color="primary" [value]="stemcells.sCGTDetails[indexEdit].transplantationDate || ''">
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="myDatePicker" placeholder="Введіть дату" [(ngModel)]="stemcells.sCGTDetails[indexEdit].transplantationDate" name="transplantation">
                            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #myDatePicker></mat-datepicker>
                        </mat-form-field>
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="radio-group-item">
                <label>Джерело CD34 стовбурових  клітин:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="stemcells.sCGTDetails[indexEdit].cB34Source" name="CB14_soure">
                    <mat-radio-button class="example-radio-button" *ngFor="let CB14_soure of CB14_soures" [value]="CB14_soure" color="primary">
                        {{CB14_soure}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="radio-group-item">
                <label>Генна терапія:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="stemcells.sCGTDetails[indexEdit].geneticTherapy" name="geneticTherapy">
                    <mat-radio-button class="example-radio-button" value="Ні" color="primary" (click)="stemcells.sCGTDetails[indexEdit].seneticTherapyDate = null">
                        Ні
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Невідомо" color="primary" (click)="stemcells.sCGTDetails[indexEdit].seneticTherapyDate = null">
                        Невідомо
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" [value]="stemcells.sCGTDetails[indexEdit].seneticTherapyDate" color="primary">
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="myDatePicker1" placeholder="Введіть дату" [(ngModel)]="stemcells.sCGTDetails[indexEdit].seneticTherapyDate" name="SeneticTherapyDate">
                            <mat-datepicker-toggle [for]="myDatePicker1" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #myDatePicker1></mat-datepicker>
                        </mat-form-field>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="button">
        <button mat-raised-button color="primary" (click)="saveData()">Зберегти</button>
        <button mat-raised-button color="primary" (click)="disactivateEdit()">Назад</button>
    </div>
</form>
<!-- END EDIT DATA -->