<form class="way-to-diagnose-form" *ngIf="!wayToDiagnose">

    <div class="radio-group">
        <div class="radio-group-item">
            <label>Дата вперше встановленого клінічного ПІД:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="firstDiagnosisPidDate" name="firstDiagnosisPidDate">
                <mat-radio-button class="example-radio-button" *ngFor="let firstDiagnosisPidDate of firstDiagnosisPidDates" [value]="firstDiagnosisPidDate" color="primary">
                    {{firstDiagnosisPidDate}}
                </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="firstDiagnosisPidDate == 'Відомо'">
                <mat-form-field>
                    <input matInput placeholder="Введіть дату" [(ngModel)]="first_diagnostic_pid_data_time" name="first_diagnostic_pid_data_time">
                </mat-form-field>
            </div>
        </div>

        <div class="radio-group-item">
            <label>Чи був встановлений діагноз ПІД без наявності ПІД-асоційованих симтомів і лише на підставі  лабораторних відхилень:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="pidLabOnly" name="pidLabOnly">
                <mat-radio-button class="example-radio-button" *ngFor="let pidLabOnly of pidLabOnlys" [value]="pidLabOnly" color="primary">
                    {{pidLabOnly}}
                </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="pidLabOnly == 'Так'">
                <mat-form-field>
                    <label>Виберіть</label>
                    <mat-select>
                        <mat-option *ngFor="let pid_select of pid_selects" [value]="pid_select.value">
                            {{pid_select.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </div>
    <!-- <div>Your sex is: {{sex}}</div> -->

    <div class="radio-group">
        <div class="checkbox-group-item">
            <label>Перші ПІД-асоційовані симтоми (один або декілька з-поміж наступних)</label>
            <mat-checkbox color="primary" value="SymptomName">Перші симтоми невідомі</mat-checkbox>
            <mat-checkbox color="primary" value="SymptomName">Відсутність ПІД-асоційованих симтомів</mat-checkbox>
            <mat-checkbox color="primary">Інфекції</mat-checkbox>
            <mat-checkbox color="primary">Дисрегуляція імунної відповіді</mat-checkbox>
            <mat-checkbox color="primary">Малігнізація (онконастороженість)</mat-checkbox>
            <mat-checkbox color="primary">Синдромальні маніфестації</mat-checkbox>
            <mat-checkbox color="primary" value="SymptomName">Інше,вказати</mat-checkbox>
        </div>

        <div class="checkbox-group-item">
            <label>Вкажіть наступні дані</label>
            <mat-form-field>
                <input matInput placeholder="Рівень IgG(г/л)" [(ngModel)]="Igg" name="Igg">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Рівень IgA(г/л)" [(ngModel)]="Iga" name="Iga">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Рівень IgM(г/л)" [(ngModel)]="Igm" name="Igm">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Рівень IgM(г/л)" [(ngModel)]="Ige" name="Ige">
            </mat-form-field>
        </div>

    </div>



</form>

<form class="way-to-diagnose-form" *ngIf="wayToDiagnose">

    <mat-grid-list cols="2" rowHeight="5:0.5">
        <div class="radio-group">
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Дата вперше встановленого клінічного ПІД:" [value]='wayToDiagnose.pathToDiagnosis.firstDiagnosisPidDate'>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Чи був встановлений діагноз ПІД без наявності ПІД-асоційованих симтомів і лише на підставі  лабораторних відхилень:" [value]='wayToDiagnose.pathToDiagnosis.pidLabOnly'>
                </mat-form-field>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
    <!-- <div>Your sex is: {{sex}}</div> -->

    <div class="radio-group">

        <div class="checkbox-group-item">
            <label>Перші ПІД-асоційовані симтоми (один або декілька з-поміж наступних)</label>
            <div *ngFor="let symtom of wayToDiagnose.firstPidSymptomModels">
                <mat-form-field>
                    <input matInput placeholder="Симтом" [value]="symtom.symptomName" name="Iga">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="початок симтома" [value]="symtom.dateStart" name="Iga">
                </mat-form-field>
            </div>
        </div>

        <div class="checkbox-group-item">
            <mat-form-field>
                <input matInput placeholder="Рівень IgG(г/л)" [value]="wayToDiagnose.pathToDiagnosis.igg" name="Igg">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Рівень IgA(г/л)" [value]="wayToDiagnose.pathToDiagnosis.iga" name="Iga">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Рівень IgM(г/л)" [value]="wayToDiagnose.pathToDiagnosis.igm" name="Igm">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Рівень IgM(г/л)" [(ngModel)]="wayToDiagnose.pathToDiagnosis.ige" name="Ige">
            </mat-form-field>
        </div>
    </div>

</form>