// form {
//     .example-full-width {
//         width: 100%;
//     }
//     .mat-radio-button {
//         padding: 0px;
//         display: flex;
//         flex-direction: row;
//     }
//     .radio-group {
//         .radio-group-item {
//             margin-right: 4rem;
//             padding: 2rem;
//         }
//         display: flex;
//         flex-direction: row;
//     }
//     radio-group-item .example-radio-group {
//         display: flex;
//         flex-direction: column;
//         margin-left: 0.5rem;
//     }
//     .example-radio-button {
//         margin: 5px;
//     }
//     label {
//         margin-left: 0.6rem;
//     }
//     .mat-form-field {
//         display: flex;
//         flex-direction: row;
//     }
//     .checkbox-group-item {
//         display: flex;
//         flex-direction: column;
//         padding: 2.5rem;
//     }
//     .checkbox-group-item .mat-checkbox {
//         margin-bottom: 10px;
//     }
//     .checkbox-group-item label {
//         margin-left: 0px;
//     }
//     .mat-form-field-flex {
//         width: 500px;
//     }
// }
form {
    .example-full-width {
        width: 100%;
        padding: 20px;
    }
    .mat-form-field {
        padding-top: 2rem;
    }
    .mat-radio-button {
        padding: 0px;
        display: flex;
        flex-direction: row;
    }
    .radio-group {
        .radio-group-item {
            margin-right: 2rem;
            padding: 2rem;
        }
        display: flex;
        flex-direction: row;
    }
    .radio-group-item .example-radio-group {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
    }
    .example-radio-button {
        margin: 5px;
    }
    label {
        margin-left: 0.6rem;
    }
    .general-data-form {
        padding: 2rem;
    }
    .mat-grid-tile .mat-figure {
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
    }
    .checkbox-group-item {
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    }
}