<!DOCTYPE html>
<div class="patient-table">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef> Відкріпити пацієнта </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Номер реєстрації </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="patient-age"> Вік </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <ng-container matColumnDef="date_of_diagnosis">
                <th mat-header-cell *matHeaderCellDef>Дата встановлення діагнозу</th>
                <td mat-cell *matCellDef="let element"> {{element.date_of_diagnosis}} </td>
            </ng-container>

            <ng-container matColumnDef="ld_immunoglobulin">
                <th mat-header-cell *matHeaderCellDef>Остання дата введення імуноглобуліну</th>
                <td mat-cell *matCellDef="let element"> {{element.ld_immunoglobulin}} </td>
            </ng-container>

            <ng-container matColumnDef="actual_route">
                <th mat-header-cell *matHeaderCellDef>Актуальний шлях введення імуноглобуліну</th>
                <td mat-cell *matCellDef="let element"> {{element.actual_route}} </td>
            </ng-container>

            <ng-container matColumnDef="dose">
                <th mat-header-cell *matHeaderCellDef>Доза(мг/кг)</th>
                <td mat-cell *matCellDef="let element"> {{element.dose}} </td>
            </ng-container>

            <ng-container matColumnDef="producer">
                <th mat-header-cell *matHeaderCellDef>Виробник</th>
                <td mat-cell *matCellDef="let element"> {{element.producer}} </td>
            </ng-container>

            <ng-container matColumnDef="review">
                <th mat-header-cell *matHeaderCellDef>Переглянути</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="assignment">assignment</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons></mat-paginator>

    </div>
</div>