<div>
    <ng-container>
        <mat-tab-group mat-align-tabs="space-around" [backgroundColor]="'primary'" [color]="'white'" class="mat-elevation-z4">

            <mat-tab label="Загальна інформація">
                <ng-template matTabContent>
                    <app-general-data-form [general_data]="general_data"></app-general-data-form>
                </ng-template>
            </mat-tab>

            <mat-tab label="Шлях до діагнозу">
                <ng-template matTabContent>
                    <app-path-to-diagnosis-form [path_to_diagnoses]="path_to_diagnoses" [diagnoses]="diagnoses"></app-path-to-diagnosis-form>
                </ng-template>
            </mat-tab>

            <mat-tab label="Діагноз ПІД">
                <ng-template matTabContent>
                    <app-pid-diagnosis-form [laboratories]="laboratories" [pid_diagnosis_data]="pid_diagnosis_data"></app-pid-diagnosis-form>
                </ng-template>
            </mat-tab>

            <mat-tab label="Стовбурові клітини/Генна терапаія">
                <ng-template matTabContent>
                    <app-stem-cells-transplantation-form [stem_cells_transplantation]="stem_cells_transplantation"></app-stem-cells-transplantation-form>
                </ng-template>
            </mat-tab>

            <mat-tab label="Замісна імуноглобулінотерапія">
                <ng-template matTabContent>
                    <app-immunoglobulin-replacement-therapy-form [patient_registration]="patient_registration" [rit_info]="rit_info"></app-immunoglobulin-replacement-therapy-form>
                </ng-template>
            </mat-tab>

        </mat-tab-group>
    </ng-container>
</div>