::ng-deep {
    .mat-ink-bar {
        background-color: yellow;
    }
    .mat-tab-labels {
        justify-content: space-between;
    }
    .mat-tab-label {
        .mat-tab-label-content {
            font-size: 15px;
            text-transform: uppercase;
            padding: 10px;
        }
    }
    .mat-tab-list .mat-tab-labels .mat-tab-label-active {
        color: yellow;
        opacity: 1;
    }
}

div {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}